.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.box {
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.image img {
   width: 100%;
}

.buttons {
   display: flex;
   justify-content: space-between;
}
.buttons a {
   color: inherit;
   text-decoration: none;
}
