.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.box {
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.image img {
   width: 100%;
}
.bottom {
   display: flex;
   flex-direction: column;
}
.buttons {
   display: flex;
   justify-content: space-between;
}
.buttons a {
   color: inherit;
   text-decoration: none;
}

.skeleton {
   margin: 5px;
}
