.listUsers {
   display: flex;
   flex-direction: column;
}

.itemUser {
   display: flex;
   justify-content: space-between;
   border: 2px #000 solid;
   border-radius: 2%;
   margin: 5px;
   padding: 5px;
}

.infoUser {
   flex: 0 0 33.333%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.avatar {
   margin-bottom: 10px;
}
.skeleton {
   margin: 5px;
}

.btn {
   color: inherit !important;
   display: block !important;
}
