.grid {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 20px;
}
.container {
   width: 90%;
   height: 100%;
   margin: auto;
   padding: 10px 0;
   background-color: rgb(144, 192, 164);
   color: rgb(22, 74, 83);
}
