.appbar {
   background-color: rgb(22, 74, 83) !important;
   box-shadow: none !important;
}

.burgermenu {
   flex-direction: column !important;
   text-decoration: none !important;
   color: #000 !important;
}
