.bg {
   background-color: rgb(22, 74, 83);
}
.container {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   color: #fff;
}
.flex {
   display: flex;
   align-items: center;
}
