.bg {
   background-color: rgb(22, 74, 83);
}
.container {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   color: #fff;
}
.flex {
   display: flex;
   align-items: center;
}

.flex a,
.button {
   color: inherit;
   text-decoration: none;
}
.flex a:hover,
.button:hover {
   color: rgb(144, 192, 164);
}
