.content {
   text-align: center;
}
.box {
   width: 100px;
   height: 70px;
   background-color: rgb(22, 74, 83);
   border-radius: 10%;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}
