.bg {
   background-color: rgb(22, 74, 83);
}
.flex {
   display: flex;
   align-items: center;
}
.flexplus {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.flexplus a {
   color: inherit;
}
.flexplus a:hover {
   color: rgb(144, 192, 164);
}
.container {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   color: #fff;
}

@media (max-width: 800px) {
   .footerNav {
      display: none;
   }
}
