*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 62.5%;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
}
