.sectionBox {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.sectionBox a {
   text-decoration: none;
   height: 100px;
   margin: 15px;
   flex: 0 1 45%;
   background-color: rgb(22, 74, 83);
   border-radius: 2%;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}
