.flex {
   display: flex;
   align-items: center;
}

.flex a,
.button {
   color: inherit;
   text-decoration: none;
}
.flex a:hover,
.button:hover {
   color: rgb(144, 192, 164);
}

[data-amplify-authenticator][data-variation="modal"] {
   z-index: 10 !important;
}
